/*Imported font*/
@font-face {
  font-family: 'Caveat';
  src: url('fonts/Caveat/Caveat-VariableFont_wght.ttf') format('truetype');
}

/*Set the fonts for the whole body*/
* {
  box-sizing: border-box;
  font-family: 'Poppins', 'Montserrat', 'Nunito', sans-serif;
  font-weight: 300;
}

body {
  /*Relative is used for scrollspy animations*/
  position: relative;
  background-color: rgb(244, 244, 244);
}

nav {
  background-color: rgb(244, 244, 244);
}

.card-title {
  font-weight: bolder;
}

.navTitel {
  font-family: 'Caveat', 'Open Sans', sans-serif;
  color: black;
}

footer h5, p {
  font-size: 1.0rem;
}

footer h5 {
  font-weight: bold;
}

/*---------------Scrollspy animations and more---------------*/

/*I copied some animations from the lecture examples*/

/*Text animation for the text "scroll to see more images" on the gallery page*/
.text-fade-out {
  animation: pop-in 1s;
  transition: all 500ms ease-out;
  opacity: 1;

}
/*Hides the text when u start to scroll*/
.hide.text-fade-out {
  opacity: 0;
}

/*Used in combination with all the animations*/
.anim {
  position: relative;
  transition: all 500ms ease-in;
}

.anim-from-left {
  opacity: 0;
  transform: translateX(-150px);
}

.activated .anim-from-left {
  transform: translateX(0);
  opacity: 1;
}

.anim-scale-up {
  transform: scale(0);
}

.activated .anim-scale-up {
  transform: scale(1);
}

.anim-pop {
  transform: scale(0);
  transition: transform 700ms cubic-bezier(0, 2, 0.5, 1), opacity 500ms ease;
}

.activated .anim-pop {
  transform: scale(1);
}

.anim-fade-in {
  opacity: 0;
}

.activated .anim-fade-in {
  opacity: 1;
}

.anim-fade-in-bottom {
  opacity: 0;
  transform: translateY(150px);
}

.activated .anim-fade-in-bottom {
  opacity: 1;
  transform: translateY(0);
}

.anim-fade-in-top {
  opacity: 0;
  transform: translateY(-150px)
}

.activated .anim-fade-in-top {

  opacity: 1;
  transform: translateY(0);
}

.pop-effect-gallery {
  animation: pop-in 1.2s;
  transition: all 500ms ease-out;

 }

.anim-1 {
  transition-delay: 100ms;
}

.anim-2 {
  transition-delay: 200ms;
}

.anim-3 {
  transition-delay: 300ms;
}

.anim-4 {
  transition-delay: 400ms;
}

.anim-5 {
  transition-delay: 500ms;
}

.anim-6 {
  transition-delay: 600ms;
}


/*Animation for the contact page*/
/*Code copied from https://drawne.com/pop-in-effect-with-css3-keyframe-animation/*/
@keyframes pop-in {
  0% {
    opacity: 0;
    transform: scale(0.1);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.pop-effect {
  animation: pop-in 0.5s;
}



/*----------------------------------------------*/

/*Sets a border bottom on the active menu item in the nav*/
.navbar-nav .nav-link.active {
  border-bottom: 2px solid #66666672;
  font-weight: bold;
}

/*background color class*/
.colorBackground {
  background-color: rgb(244, 244, 244);
}

.imagesgallery {
  max-width: 100%;
  width: 90%;
}

.imagesIndex {
  max-width: 100%;
  width: 90%;
}

/*Sets a width on images on a screen that is larger than 992px*/
@media (min-width: 992px) {
  .imagesgallery {
    max-width: 70%;
  }

  /*Hover over images in gallery*/
  .imageHoverEffect:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.658);
    cursor: pointer;
  }

  .formColor:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.293);
  }

  /*Hover effect on go to gallery text*/
  .textEffect:hover {
    text-shadow: 0 3px 4px rgba(88, 88, 88, 0.483);
    cursor: pointer;
  }

  /*Hover effect on navbar item*/
  .navbar-nav .nav-item:hover {
    color: #fff;
    background-color: #9999992b;
    border-radius: 10%;
  }

  .imagesIndex {
    max-width: 70%;
  }

  .imagesAbout {
    max-width: 60%;
  }

}
/*Sets a width on images on a screen that is larger than 2000px*/
@media (min-width:2000px) {
  .imagesIndex {
    max-width: 60%;
  }

  .imagesIndex {
    max-width: 50%;
  }
}

.formColor {
  background-color: rgb(238, 238, 238);
}

/*Removes the border from modal header*/
.modal-header {
  border: none;
}

